@charset "utf-8";
/*
   sample start file for final project - educational use only
   
   Author:   Makilah Ironshell
   Date:     4-6-26
   
  

*/

* {
    margin: 0; 
    padding: 0;
}

body {
    font-size: 1.1em;
    font-family: Georgia, 'Times New Roman', serif;
	background-color: #E4E4DE;
}

#container {
    width: 930px;
    border-width: 1px;
    margin: 0 auto;
    background-color: #E4E4DE;
}


header {
    width: 900px;	
    margin-bottom: 30px;
    text-align: center;
    margin-top: 10px;
    border: 3px solid #1B1B1B;
    box-shadow: 15px 15px 5px 0 #C4C5BA;
    border-radius: 25px;  	
}

nav {
    width: 200px;
    margin: 0 5px 0 5px; 
    padding: 25px 10px 0 10px;
    float: left;
    text-align: center;
    background-color: #C4C5BA;
    border-radius: 15px;
}

nav ul {
    font-weight: bold;
    list-style: none;
}

nav ul li a {
    padding: 5px;
    color: #1B1B1B;
    text-decoration: none;
    display:block;
}

nav ul li a:hover {
    background: #595F39;
    border-radius: 10px;
    color:#1B1B1B;
}

#main {
    width: 446px;
    padding: 10px;
    float: left;
    color: #1B1B1B;
    border-left: 2px #1B1B1B solid;
    border-right: 2px #1B1B1B solid;    
    
}

#main p {
    text-indent: 1.5em;
}

figure{
    padding-top: 10px;
    text-align: center;
}

figcaption {
    font-style: italic;
}

aside {
    width: 200px;
    margin: 0 5px 0 5px;
    padding: 10px;
    float: right;
}

aside p {
    font-style: italic;
    font-size: 0.9em;
}

h2 {
    font-size: 1.4em;
    text-align: center;
    padding-bottom: 0.5em;
}

h3 {
    text-align: center;
    padding-bottom: 0.5em;
    padding-top: 0.5em;
}

footer {
    width: 910px;
    margin: 0;
    padding: 10px;
    background-color: #595F39;
    clear: both;
    color: #C4C5BA;
    font-weight: bold;
    text-align: center;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

#wrapper {
    width: 930px;
    margin-bottom: 10px;
    border: 2px solid;
    border-radius: 25px;

}/* navigation for footer */
footer a:link {
    color: white;
    text-decoration: none;
}

footer a:visited {
    color: white;
    background-color: C4C5BA;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

#main img {
    max-width: 500px;
    width: 100%;
    height: auto;
    display: block;
    margin: 20 px auto;
}

header img {
    width: 100%;
    height: auto;
}

video {
    display: block;
    margin: 30px auto;
    max-width: 100%;
}